In [2]:
import pandas as pd
import csv
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [66]:
with open('data/employees.csv') as f:
    reader=csv.reader(f)
    next(reader)
    count = 0
    while count < 10:
        next(reader)
        count+=1

['emp_no',
 'emp_title_id',
 'birth_date',
 'first_name',
 'last_name',
 'sex',
 'hire_date']

['473302', 's0001', '7/25/1953', 'Hideyuki', 'Zallocco', 'M', '4/28/1990']

['475053', 'e0002', '11/18/1954', 'Byong', 'Delgrande', 'F', '9/7/1991']

['57444', 'e0002', '1/30/1958', 'Berry', 'Babb', 'F', '3/21/1992']

['421786', 's0001', '9/28/1957', 'Xiong', 'Verhoeff', 'M', '11/26/1987']

['282238', 'e0003', '10/28/1952', 'Abdelkader', 'Baumann', 'F', '1/18/1991']

['263976', 'e0003', '10/30/1959', 'Eran', 'Cusworth', 'M', '11/14/1986']

['273487', 's0001', '4/14/1957', 'Christoph', 'Parfitt', 'M', '6/28/1991']

['461591', 's0002', '11/17/1964', 'Xudong', 'Samarati', 'M', '11/13/1985']

['477657', 'e0002', '12/18/1962', 'Lihong', 'Magliocco', 'M', '10/23/1993']

['219881', 's0002', '4/24/1956', 'Kwangyoen', 'Speek', 'F', '2/14/1993']

In [69]:
DF = pd.read_csv('data/employees.csv', 'r', error_bad_lines=False, delimiter=',')

In [73]:
[type(item) for item in DF.emp_title_id.unique()]

[str, str, str, str, str, str, str]

In [26]:
from datetime import datetime as dt
dt.strptime('7/25/1953', '%m/%d/%Y')

datetime.datetime(1953, 7, 25, 0, 0)

In [36]:
DF.hire_date.map(lambda x: dt.strptime(x, '%m/%d/%Y'))

0        1990-04-28
1        1991-09-07
2        1992-03-21
3        1987-11-26
4        1991-01-18
            ...
300019   1988-10-28
300020   1995-02-26
300021   1988-02-24
300022   1994-09-08
300023   1987-11-23
Name: hire_date, Length: 300024, dtype: datetime64[ns]

In [37]:
DF.hire_date.map(lambda x:len(x)).max()

10

In [67]:
DF = pd.read_csv('data/titles.csv', 'r', error_bad_lines=False, delimiter=',')

In [68]:
DF.head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer

In [47]:
DF.title.map(lambda x:len(x)).max()

18

In [48]:
DF = pd.read_csv('data/dept_emp.csv', 'r', error_bad_lines=False, delimiter=',')

In [55]:
DF.dept_no.unique()

array(['d005', 'd007', 'd004', 'd003', 'd008', 'd006', 'd009', 'd001',
       'd002'], dtype=object)

In [56]:
DF = pd.read_csv('data/departments.csv', 'r', error_bad_lines=False, delimiter=',')

In [57]:
DF

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [58]:
DF.dept_name.map(lambda x:len(x)).max()

18

In [59]:
DF = pd.read_csv('data/dept_manager.csv', 'r', error_bad_lines=False, delimiter=',')

In [65]:
len(DF.emp_no.unique())
len(DF)

24

24